body {
    background-image: url("image/background.jpg");
    background-size: 100%;
    background-attachment: fixed; 
}

h1 {
    text-align: center;
    margin: 1em;
}

h3{
    text-align: center;
}

.page-header, .contact, .pres{
    background-color: rgba(255, 255, 255, .8);
    display: inline-block;
    margin: 1em;
}

.contact-container, .pres-container{
    margin : .5em;
}

.MrCatania{
    float: left;
    width: 150px;
    margin : .5em;
}

p{
    text-align: center;
}